/* Copyright The OpenTelemetry Authors */
/* SPDX-License-Identifier: Apache-2.0 */

html, body {
  height: 100%;
}

body {
  background: #f8fafc;
  margin: 0px;
  font-family: 'Inter', 'Open Sans', sans-serif;
}

body * {
  box-sizing: border-box;
  color: #0f172a;
  font-weight: 500;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
